<footer class="footer">
	<a href="/courses" class="footer__link">CodeReview Homepage</a>&nbsp;|&nbsp;
	<a href="/signup" class="footer__link">To Sign Up Page</a>&nbsp;|&nbsp; 
	<a href="/login" class="footer__link">To Login Page</a>&nbsp;|&nbsp; 
	<a href="/courses/new" class="footer__link">To Create a New Review Page</a>	
</footer>