<!DOCTYPE html>
<html>

<head>
<<<<<<< HEAD
  <title>Code Review</title>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/global.css" />
  <link rel="stylesheet" type="text/css" href="/css/coursecard.css" />
  <link rel="stylesheet" type="text/css" href="/css/newReview.css" />
  <link rel="stylesheet" type="text/css" href="/css/show.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
=======
    <title>Code Review</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
	<link rel="stylesheet" type="text/css" href="/css/newReview.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
	
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

>>>>>>> added index.css file
</head>

<body>
  <header class="header">
    <a href="/" class="header__link">Code Review &lt/&gt</a>
    <nav class="header__nav">
      <form action="" name="searchForm" class="searchForm">
        <input type="text" class="searchForm__text" placeholder="Enter Search Term..." />
        <input type="submit" class="searchForm__submit" value="Search" />
      </form>
      <a href="" class="profileBtn" alt="User Profile" title="User Profile">
        <img src="/assets/user-profile.svg">
      </a>
    </nav>
  </header>
