<!DOCTYPE html>
<html>

<head>
  <title>Code Review</title>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/global.css" />
  <link rel="stylesheet" type="text/css" href="/css/coursecard.css" />
  <link rel="stylesheet" type="text/css" href="/css/newReview.css" />
  <link rel="stylesheet" type="text/css" href="/css/show.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
</head>

<body>
  <header class="header">
    <a href="/courses" class="header__link">Code Review &lt/&gt</a>
    <nav class="header__nav">
      <form action="/search" method="POST" name="searchForm" class="searchForm">
        <input type="text" class="searchForm__text" placeholder="Enter Search Term..." />
        <input type="submit" class="searchForm__submit" value="Search" />
      </form>
      <a href="" class="profileBtn" alt="User Profile" title="User Profile">
        <img src="/assets/user-profile.svg">
      </a>
    </nav>
  </header>
