<% include partials/header %>

<h1 class="about__title">About Code Review</h1>

<p class="about__paragraph">Learning web development gets easier when you know exactly which resources to use. Code Review is a portal where users can find, add, and rate learning resources for web developers at all stages of their careers. No more wasting time endlessly searching the Web for great courses. Regardless of your budget, with Code Review you can find exactly what you need to advance your career or get that first dev job!</p>

<p class="about__paragraph">Code Reviews is built by <a href="https://github.com/vansi42">Sivan</a>, <a href="https://github.com/noahliberty">Noah</a>, and <a href="https://github.com/theborgh">Dario</a>!</p>
    <% include partials/footer %>

