<% include partials/header %>
    
    <p>Hello World, This is Code Reviews landing page! Go team! We are Sivan, Dario, and Noah!</p>

    <p>Learning web development gets easier when you know exactly which resources to use. Code Review is a portal where users can find, add, and rate learning resources for web developers at all stages of their careers. No more wasting time endlessly searching the Web for great courses. Regardless of your budget, with Code Review you can find exactly what you need to advance your career or get that first dev job!</p>

    <% include partials/footer %>

