<% include partials/header %>
    
    <p>
	   Hello World, This is Code Reviews landing page! Go team! We are Sivan, Dario, and Noah!
	</p>
		
<main class="mainAllCourses">
        <% courses.forEach(course => { %>
            <% %>
            <div class="coursecard" style="--bgimg: url('<%= course.imageUrl %>');">
                <div class="coursecard__contents">
                    <div class="coursecard__title">
                        <a href="/courses/<%= course.id%>" class="coursecard__link"><%= course.title %></a>
					</div>
                    <div class="coursecard__tags-and-footer">
                        <div class="coursecard__tags">
                            <div class="coursecard__tag">CSS</div>
                            <div class="coursecard__tag">SASS</div>
                            <div class="coursecard__tag">Styling</div>
                        </div>
                        <div class="coursecard__footer">
                            <div class="coursecard__price">
                                $<%= course.price %>
                            </div>
                            <div class="coursecard__starrating">
                                <img src="./assets/star-filled.svg" />
                                <img src="./assets/star-filled.svg" />
                                <img src="./assets/star-filled.svg" />
                                <img src="./assets/star-filled.svg" />
                                <img src="./assets/star-empty.svg" />
                            </div>
                            <div class="coursecard__votecount">(37 votes)</div>
                        </div>

                    </div>
                </div>
            </div>
					
		<% }); %>
	
</main>
		
<% include partials/footer %>