<!DOCTYPE html>
<html>
    <head>
        <title>Landing</title>

    </head>
    <body>
    
   <p>
	   Hello World, This is Code Reviews landing page! Go team! We are Sivan, Dario, and Noah!
		</p>
		
		<div>
			<a href="/signup">To Sign Up Page</a>
			<a href="/login">To Login Page</a>
			<a href="/about">To About Page</a>
			<a href="/newreview">To Create a New Review Page</a>
		</div>
	</body>
</html>