	<% include partials/header %>
    
   		<p>This will be the Login Page</p>
		
		<form action="/login" method="POST">
	

<!-- Sign up form. To be replaced with react/frontend stuff   -->
			<div>
			  <label for="username">Username: </label>
			  <input type="text" name="username" placeholder="username">
			</div>

			<div>
			  <label for="password">Password: </label>
			  <input type="password" name="password" placeholder="password" >
			</div>
			<button>
				Login!
			</button>
		</form>
		
	<% include partials/footer %>
		
