	<% include partials/header %>
    
   		<p>This will be the Login Page</p>
		
		<form>
	

<!-- Sign up form. To be replaced with react/frontend stuff   -->
			<div>
			  <label for="email">Email: </label>
			  <input id="email" type="email" name="email">
			</div>

			<div>
			  <label for="password">Password: </label>
			  <input id="password" type="password" name="password">
			</div>
		</form>
		
	<% include partials/footer %>
		
	</body>
</html>