<% include partials/header %>

		<h1 class="h1">Add a New Course</h1>
		<h2><% tags[1] %></h2>					
    	<main class="addCourseMain">
			<form action="/courses" method="POST" name="addCourse" class="addCourseForm">
				<input type="text" class="addCourseForm__textInput" name="title" placeholder="Course title:" required />
				<input type="text" class="addCourseForm__textInput" name="author" placeholder="Author:" required />
				<input type="text" class="addCourseForm__textInput" name="authorUrl" placeholder="Author website (Optional):" />
				<input type="text" class="addCourseForm__textInput" name="courseUrl" placeholder="Course website:" required />
				<input type="text" class="addCourseForm__textInput" name="imageUrl" placeholder="Image URL (Optional):" />
				
				<div class="spacer20"></div>
				
				Select up to 5 tags:
				<ul class="tagList">
					<% tags.forEach ((tag) => { %>
					<li class="tagList__item">
						<input type="checkbox" value="<%= tag.title %>" name="tags" id="tag.title" />
						<label for="<%= tag.title %>"><%= tag.title %> </label>
					</li>
					<% }); %>
				</ul>
				
				<div class="spacer20"></div>

				<textarea name="description" class="addCourseForm__textArea" placeholder="Tell us more about the course:"></textarea>
				<div class="addCoursePriceLine">
					<input type="number" class="addCourseForm__textInput addCourseForm__textInput--short" name="price" placeholder="Price:" step="0.01" min="0" max="99999.99" />
					<input type="checkbox" class="addCourseForm__checkbox" name="isFree"><label for="isFree" class="addCourseForm__label">Free!</label>
				</div>
				
				<div class="spacer20"></div>    
				<input class="addCourseForm__submit" type="submit" />
			</form>
		</main>
			
	<% include partials/footer %>
		
