<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>

    </head>
    <body>
    
   		<p>This will be the New Review Page</p>
		
		<form>
	

<!-- New Review form. To be replaced with react/frontend stuff   -->
			<div>
			  <label for="title">Course title: </label>
			  <input id="title" type="text" name="title">
			</div>

			<div>
			  <label for="author">Author: </label>
			  <input id="author" type="text" name="author">
			</div>
			
			<div>
			  <label for="review">Review: </label>
			  <input id="review" type="text" name="review">
			</div>
		</form>
		
		<div>
			<a href="/">Back to Main page</a>
			<a href="/signup">To Sign Up Page</a>
			<a href="/about">To About Page</a>
			<a href="/login">To Login Page</a>
		</div>
		
	</body>
</html>