<% include partials/header %>

		<h1 class="h1">Add a New Course</h1>
		<h2><% tags[1] %></h2>					
    	<main class="addCourseMain">
			<form action="/courses" method="POST" name="addCourse" class="addCourseForm">
				<input type="text" class="addCourseForm__textInput" name="title" placeholder="Course title:" />
				<input type="text" class="addCourseForm__textInput" name="author" placeholder="Author:" />
				<input type="text" class="addCourseForm__textInput" name="authorUrl" placeholder="Author website (Optional):" />
				<input type="text" class="addCourseForm__textInput" name="courseUrl" placeholder="Course website:" />
				<input type="text" class="addCourseForm__textInput" name="imageUrl" placeholder="Image URL (Optional):" />
				
				<div class="spacer20"></div>
				
				<div class="addCourseTags">
					<select class="addCourseTags__select">
						<option value="none">Select up to 5 tech tags</option>

						<% tags.forEach ((tag) => { %>
						<option value="<%= tag.id %>"><%= tag.title %></option> 
						<% }); %>

					</select>
				</div>
				
				<div class="spacer20"></div>

				<textarea name="description" class="addCourseForm__textArea" placeholder="Tell us more about the course:"></textarea>
				<div class="addCoursePriceLine">
					<input type="number" class="addCourseForm__textInput addCourseForm__textInput--short" name="price" placeholder="Price:" />
					<input type="checkbox" class="addCourseForm__checkbox" name="isFree"><label for="isFree" class="addCourseForm__label">Free!</label>
				</div>
				
				<div class="spacer20"></div>
				<input class="addCourseForm__submit" type="submit" />
			</form>
		</main>
			
	<% include partials/footer %>
		
	</body>
</html>