<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
</head>

<body>
    <% include ../header.html %>
   
	


  <div class="coursecard">
    <div class="coursecard__contents">
      <div class="coursecard__title">Get Sassy with SASS</div>
      <div class="coursecard__tags">
        <div class="coursecard__tag">CSS</div>
        <div class="coursecard__tag">SASS</div>
        <div class="coursecard__tag">Styling</div>
      </div>
      <div class="coursecard__footer">
        <div class="coursecard__price">$19.99</div>
        <div class="coursecard__starrating">
          <img src="./assets/star-filled.svg" />
          <img src="./assets/star-filled.svg" />
          <img src="./assets/star-filled.svg" />
          <img src="./assets/star-filled.svg" />
          <img src="./assets/star-empty.svg" />
        </div>
        <div class="coursecard__votecount">(37 votes)</div>
      </div>
    </div>
  </div>

  <div class="coursecard">
    <div class="coursecard__contents">
      <div class="coursecard__title">Untagle Spaghetti Code</div>
      <div class="coursecard__tags">
        <div class="coursecard__tag">Best Practices</div>
        <div class="coursecard__tag">Clean Code</div>
        <div class="coursecard__tag">OOP</div>
      </div>
      <div class="coursecard__footer">
        <div class="coursecard__pricefree">Free!</div>
        <div class="coursecard__starrating">
          <img src="./assets/star-filled.svg" />
          <img src="./assets/star-filled.svg" />
          <img src="./assets/star-filled.svg" />
          <img src="./assets/star-half.svg" />
          <img src="./assets/star-empty.svg" />
        </div>
        <div class="coursecard__votecount">(37 votes)</div>
      </div>
    </div>
  </div>
</body>
</html>