<!DOCTYPE html>
<html>

<head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />

</head>

<body>
    <% include ../header.html %>

    <p>
        This will be the Sign Up Page
    </p>
    <form>

        <!-- Sign up form. To be replaced with react/frontend stuff   -->
        <div>
            <label for="username">Name: </label>
            <input id="username" type="text" name="username">
        </div>
        <div>
            <label for="email">Email: </label>
            <input id="email" type="email" name="email">
        </div>
        <div>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password">
        </div>
    </form>

	<% include ../footer.html %>

</body>

</html>