<% include partials/header %>

    <p>
        This will be the Sign Up Page
    </p>
    <form action="/signup" method="POST">

        <!-- Sign up form. To be replaced with react/frontend stuff   -->
        <div>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username">
        </div>
        <div>
            <label for="email">Email: </label>
            <input id="email" type="email" name="email">
        </div>
        <div>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password">
        </div>
		<button>
			SIGN UP!!!
		</button>
    </form>

    <% include partials/footer %>

