* {
	font-family: Bitter, arial;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
 	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.h1 {
	text-align: center;
	margin: 30px 0;
}

.header {
	background-color: #94b4c1;
	padding: 10px 15px;
	color: #fff;
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.header__link {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.searchForm {
	margin-block-end: 0;
	display: flex;
	align-items: center;
}

.searchForm__text {
	line-height: 24px;
	width: 300px;
	height: 2rem;
	padding: 0 5px;
	border-radius: 6px 0 0 6px;
}

.searchForm__submit {
	height: 2rem;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 0 6px 6px 0;
}

.profileBtn {
	margin-left: 1em;
}

.addCourseMain {
	display: flex;
	justify-content: center;
}
.addCourseForm {
	display: flex;
	flex-direction: column;
	width: 80%;

}

.addCourseForm__textInput {
	padding: 0 8px;
	width: 100%;
	line-height: 25px;
	margin: 2px 0;
	border: 1px solid #94b4c1;
	border-radius: 6px;
}

.addCourseForm__textInput--short {
	width: 20%;
}

.addCourseForm__textInput::placeholder {
	color: #94b4c1;
}

.addCourseForm__textArea {
	padding: 0 8px;
	width: 100%;
	height: 8rem;
	line-height: 25px;
	margin: 2px 0;
	border: 1px solid #94b4c1;
	border-radius: 6px;
	resize: none;
}

.addCourseForm__textArea::placeholder {
	color: #94b4c1;
}

.addCourseTags__select {
	padding: 4px;
	line-height: 25px;
	margin: 2px 0;
	border: 1px solid #94b4c1;
	border-radius: 6px;
	color: #94b4c1;
}

.addCoursePriceLine {
	display: flex;
	align-items: center;
}

.addCourseForm__checkbox {
	margin-left: 10px;
	zoom: 1.2;
}

.addCourseForm__submit {
	width: 100%;
	line-height: 30px;
	border: 1px solid;
	border-style: outset;
	border-radius: 6px;
	padding: 8px;
	cursor: pointer;

}

.spacer20 {
	height: 20px;
}

.fa-star.checked {
	color: gold;
}